#map {
  height: 100%;
  width: 90%;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "ubuntu";
  font-size: 10px;
}

.right {
  position : absolute;
  top:0;
  right:0;
  background: orange;
  width: 400px;
  height: 100%;
}
